In [2]:
import numpy as np
import pandas as pd

#### Create a dataframe with the 10 names of pupils and the number of points they obtained in the exam. Then check what the mean and median of the results were.

In [3]:
student_scores_data = {
    "Names": ['Merli', 'Aigi', 'Olga', 'Martin', 'Indrek', 'Andres', 'Kerly', 'Merili', 'Sten', 'Niko'],
    "Scores": [100, 75, 85, 45, 50, 55, 73, 89, 94, 100]
}
student_score_table = pd.DataFrame(student_scores_data)  # Created dataframe about students and their exams scores
student_score_table

    Names  Scores
0   Merli     100
1    Aigi      75
2    Olga      85
3  Martin      45
4  Indrek      50
5  Andres      55
6   Kerly      73
7  Merili      89
8    Sten      94
9    Niko     100

**Students average score is**

In [15]:
student_score_table['Scores'].mean()  # The score mean is 76.6, it is students average exam score

76.6

**Students median score is**

In [22]:
student_score_table['Scores'].median()  # If score column is sorted and it finds the middle score, 
# if i have like even number of rows of data, then it is average value of two middle numbers

80.0

**Example how the median function works, I check for me if the value is right**

In [21]:
student_score_table.sort_values('Scores')

    Names  Scores
3  Martin      45
4  Indrek      50
5  Andres      55
6   Kerly      73
1    Aigi      75
2    Olga      85
7  Merili      89
8    Sten      94
0   Merli     100
9    Niko     100

In [4]:
# 2 middle scores are 75 and 85, now I find the average value of 2 middle scores (75+85)/2
(75+85)/2

80.0