In [3]:
import numpy as np
import pandas as pd

#### Create a dataframe with the 10 names of pupils and the number of points they obtained in the exam. Then check what the mean and median of the results were.

In [4]:
student_scores_data = {
    "Names": ['Merli', 'Aigi', 'Olga', 'Martin', 'Indrek', 'Andres', 'Kerly', 'Merili', 'Sten', 'Niko'],
    "Scores": [100, 75, 85, 45, 50, 55, 73, 89, 94, 100]
}
student_score_table = pd.DataFrame(student_scores_data)  # Created dataframe about students and their exams scores
student_score_table

    Names  Scores
0   Merli     100
1    Aigi      75
2    Olga      85
3  Martin      45
4  Indrek      50
5  Andres      55
6   Kerly      73
7  Merili      89
8    Sten      94
9    Niko     100

In [6]:
score_values = student_score_table['Scores']  # I save score values to new variable, because I use it often
score_values

0    100
1     75
2     85
3     45
4     50
5     55
6     73
7     89
8     94
9    100
Name: Scores, dtype: int64

In [7]:
score_values.mean()

76.6

In [9]:
score_values.median()

80.0